@import "normalize.css";
@import "tailwindcss";



*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
  background-color: #fbfcf8;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: #fbfcf8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
span {
  margin: 0;
  cursor: default;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 393px;
  margin: auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 108px;
  }
}

